.site-branding {
  width: 100%;
  background-image: linear-gradient(160deg, var(--color--primary-50) 0%, var(--color--primary-50) 78.66%);
}

h2 {
    color:#571B4D;
}


/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


@media (min-width: 43.75rem) {
  .main-content__container {
    padding-block-start: var(--sp0);
  }
}

@media (min-width: 43.75rem) {
  .view, .view-content {
    gap: var(--sp0);
  }
}

.cab-booking-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.column-wrapper {
  flex: 1; /* makes both take equal width */
  padding: 20px;
}

/* Desktop layout (default) */
.form-wrapper {
  flex: 0 0 60%; /* 75% width */
}

.right-wrapper {
  flex: 0 0 35%; /* 25% width */
}

/* Mobile layout (stacked) */
@media (max-width: 768px) {
  .parent {
    flex-direction: column;
  }
  .column-wrapper,
  .form-wrapper {
    flex: 0 0 100%;
  }
}

.distance-summary {
    font-size: 16px;
    font-weight: 700;
    color:#571B4D;
    border: 2px solid #571B4D;
    padding: 20px;
    margin-bottom: 25px;
}
.cab-booking-wrapper .route-map {
  flex: 0 0 100%;
  max-width: auto;
  min-height: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}
.page-wrapper {
  max-width: 100%;
}

.container {
    max-width: 100%;
}


/* .cab-booking-wrapper .form-wrapper {
  flex: 0 0 60%;
  max-width: 60%;
}

.cab-booking-wrapper .right-wrapper {
  flex: 0 0 40%;
  max-width: 100%;
  min-height: 400px; 
}

.cab-booking-wrapper .route-map {
  flex: 0 0 100%;
  max-width: auto;
  min-height: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.distance-summary {
    font-size: 16px;
    font-weight: 700;
    color:#571B4D;
}


.location-wrapper, .preference-wrapper, .contact-wrapper {
    display: flex;
    width: 70%;
    gap: 10%;
}

.distance-summary {
    border: 2px solid #571B4D;
    padding: 20px;
    margin-bottom: 25px;
}

.form-element {
    width: 100%;
}

#edit-field-full-name-wrapper {
    max-width: 91%;
} */


.view-display-id-block_1 {
  .views-field {
    display: flex;
    .views-label {
      font-weight: 600;
      width: 150px;
    }
    .field-content {
      display: inline-block;
    }
  }
  
}
